@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Sign up for Classes! Semester starts 9/10/21. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Join Clubs!</h2>
        <p>Come to the Club Fair to meet our variety of student-led clubs and see who shares your interests!</p>
    </div>
    <div class="col-md-4">
        <h2>Welcome Professor Robertson To CIT</h2>
        <p>Professor Robertson to join the CIT department 9/10/21. Be sure to welcome him! </p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
